/* Gallery.css */

.gallery {
    padding: 80px 60px;
    /* background-color: #f7f4ef; */
    background-color: #FCC6BB;
    text-align: center;
}

.section-title {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #173F35;
    margin-bottom: 50px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gallery-card {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.3s ease;
}

.gallery-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all 0.3s ease;
}

.gallery-card:hover img {
    transform: scale(1.05);
    filter: brightness(0.9);
}

/* Responsive */
@media (max-width: 1024px) {
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .gallery-grid {
        grid-template-columns: 1fr;
    }
}