/* Rooms.css */

.rooms {
  padding: 10px 60px;
  /* background-color: #f7f4ef; */
  text-align: center;
}

.section-title {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #173F35;
  margin-bottom: 50px;
}

.rooms-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.room-card {
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
  cursor: pointer;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeSlideUp 1s forwards;
}

.room-card:hover {
  transform: scale(1.03);
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

.room-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.room-info {
  padding: 20px;
}

.room-info h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  color: #173F35;
  margin-bottom: 10px;
}

.room-info p {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #1C1C1C;
  margin-bottom: 15px;
}

.room-info .btn-primary {
  background-color: #B6895B;
  color: #F7F4EF;
  font-weight: 600;
  padding: 8px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.room-info .btn-primary:hover {
  box-shadow: 0 6px 16px rgba(0,0,0,0.2);
}

/* Animation keyframes */
@keyframes fadeSlideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 1024px) {
  .rooms{
    padding: 80px 30px 10px 30px;
  }
  .rooms-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .rooms{
    padding: 80px 30px 10px 30px;
  }
  
  .rooms-grid {
    grid-template-columns: 1fr;
  }
}
